{% extends 'base.html' %}
{% block title %}Edit Doctor Profile{% endblock %}
{% block content %}
<div class="card card-custom">
    <div class="card-header card-header-custom"><h4 class="mb-0">Edit Profile Information</h4></div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-end mt-4">
                <a href="{% url 'doctors:doctor_profile' %}" class="btn btn-secondary me-2">Cancel</a>
                <button type="submit" class="btn btn-primary-custom"><i class="fas fa-save me-2"></i>Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}